* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* banar */
.banner {
    padding: 400px 230px 845px 364px;
    text-align: right;
    padding-left: 1200px;


}

.header {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;

    height: 1100px;


    background-size: cover;


}

.banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
}

.banner-descriptin {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.btn-primary {
    margin-top: 32px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
}

/* about-container */
.main {
    max-width: 1072px;
    margin: 0 auto;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-sub-container {
    text-align: left;
    margin-top: 250px;
    padding-left: 87px;
}

.about {
    margin-top: 130px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
}

.section-description {}

/* plan */
.main2 {
    max-width: 1141px;
    margin: 0 auto;
}

.plans-container {
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    padding: 30px;
    text-align: center;
}

.what-i-plan {
    margin-top: 130px;
}

.w-section-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.plans-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #737272;
}

/* contact section */
.main3{
    max-width: 1140px;
    margin: 0 auto;
}
.contact{
    margin-top: 130px;
    background: url("..//images/gradient1.png"),url("..//images/watch.png");
    
    background-repeat: no-repeat;
    height: 300px;
    padding: 50px;
    padding-right: 617px;
    
    
}
.contact-title{
    color: #FFFFFF;
    font-weight: 700;
font-size: 40px;
}
.btn-2 {
    margin-top: 32px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}