* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

ul,li{
    list-style: none;
    margin: 0px;
    padding: 0px; 
}


header{
    background-image: url(..//images/banner/banner3.png);
    height: 100vh;
    background-repeat:  no-repeat;
    background-size: cover;
    
}

.banner {
    margin-right: 10%;
    text-align: right;
    padding-top: 20vh;
}

.banner h1{
    font-size: 65px;
    color: white;
    font-weight: 700;
    
}
.banner p{
    color: white;
}
.banner button{
    color: #005FAC;
    background-color: white ;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius:  8px;
    margin-top: 10px;
    
}

/* about-container */
.main {
    max-width: 1072px;
    margin: 0 auto;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-sub-container {
    text-align: left;
    margin-top: 250px;
    padding-left: 87px;
}

.about {
    margin-top: 130px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
}


/* plan */
.main2 {
    max-width: 1141px;
    margin: 0 auto;
}

.plans-container {
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    padding: 30px;
    text-align: center;
}

.what-i-plan {
    margin-top: 130px;
}

.w-section-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.plans-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #737272;
}

/* contact section */
.main3 {
    max-width: 1140px;
    margin: 0 auto;
}

.contact {
    margin-top: 130px;
    background: url("..//images/gradient1.png"), url("..//images/watch.png");

    background-repeat: no-repeat;
    height: 300px;
    padding: 50px;
    padding-right: 617px;
}

.about-container p{
    margin-top: 10px;
}

.list-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.lists{
    margin-top: 10px;
}
.contact-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}

.btn-2 {
    margin-top: 32px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 6px;
    border-color: #FFFFFF;
}

/* footer section */
.future {
    margin-top: 130px;
    display: flex;
    gap: 331px;
    /* background: #151414; */
    background: black;
    height: 577px;
    padding: 130px 230px;
}

.future-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.future-description {
    color: #FFFFFF;
}

.phone {
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 32px;


}

.email {
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 32px;

}

.email-2 {
    background: #151414;
    font-weight: 400;
    font-size: 18px;
    width: 325px;
    height: 64px;
    border: 1px solid;
    border-color: #FFFFFF;
    border-radius: 8px;
}

.subscribe {
    color: #FFFFFF;
    margin-bottom: 31px;
    font-weight: 600;
    font-size: 25px;
}

.btn-3 {
    margin-top: 32px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background: #005FAC;
    border-radius: 8px;
    color: #FFFFFF;
}